.search {
  display: flex;
  justify-content: space-between;

  .custom-input {
    width: 100%;
  }

  &-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 6px;
    padding: 0px 8px;

    svg {
      vertical-align: middle;
    }
  }
}